:root {
    --color-1: #8F3985;
    --color-2: #619b8a;
    --color-3: #1e1e24;
    --color-4: #ff6b6b;
    --color-5: #ffffff;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--color-3);
    font-family: 'Gill Sans', sans-serif;
    font-size: 1.5vw;
}

h2 {
    text-align: center;
    font-size: 0.9em;
}

form.upload {
    border-style: solid;
    border-color: var(--color-1);
    border-radius: 0.7em;
    background-color: var(--color-2);
    margin: 3em;
    padding: 0.5em;
}

* {
    box-sizing: border-box
}

img {
    max-width: 100%;
    height: auto;

    &.detail {
        max-height: 100%;
        width: auto;
        flex-shrink: 1;
        min-width: 0;
        object-fit: contain;
    }
}

.navbar {
    position: static;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 5vh;
    overflow: hidden;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    column-gap: 0.2vw;
}

a.navbar-item{
    background-color: var(--color-4);
    color: var(--color-3);
    padding: 2.5vh 2vw;
    margin: 0;
    text-align: center;
    text-decoration: none;

    &.active{
        background-color: var(--color-3);
        color: var(--color-4);
    }
}

a:hover.navbar-item{
    background-color: var(--color-2);
    color: var(--color-5);

    &.active{
        background-color: var(--color-3);
        color: var(--color-5);
    }
}

.detail-container {
    height: 95vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
}

.tag-container {
    max-height: 95vh;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 1rem 1vh;
    min-width: 0;
    min-height: 0;
}

.tag {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    padding: .4rem;
    margin: .1rem;
    border-radius: 5px;
    background-color: var(--color-2);
    min-width: 0;
    min-height: 0;

    * {
        margin: 0;
        display: inline;
    }

    .clickable {
        &:hover {
            color: var(--color-5);
            cursor: pointer;
        }
    }
}

.gallery-container {
    padding: 1vw;
    margin: 0;
    columns: 4;
    gap: 0px;
    object-fit: contain;
}


@media only screen and (max-width: 1500px) {
    body{
        font-size: 3vw;
    }
    .gallery-container {
        columns: 3;
    }
}
@media only screen and (max-width: 1000px) {
    body{
        font-size: 3.5vw;
    }
    .gallery-container {
        columns: 2;
    }
}
@media only screen and (max-width: 500px) {
    body{
        font-size: 4vw;
    }
    .gallery-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.hidden {
    display: none;
}
