<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link 
        rel="stylesheet" 
        href="{% static 'refview/style.css' %}"
    >
    <link
        rel="shortcut icon" 
        type="image/svg+xml" 
        href="{% static 'images/favicon.svg' %}"
    >
</head>
<body>
{% block body %}
{% include 'refview/navbar.html' %}
{% load thumbnail %}

<div class="gallery-container">
    {% for post in object_list %}
    {% thumbnail post.image "500x6000" as im %}
    <div class="image-container">
        <a href="{% url "detail" post.pk %}">
        <img 
            width="{{ im.width }}px"
            height="{{ im.height }}px"
            src="{{ im.url }}"
            loading="lazy"
        >
        </a>
    </div>
    {% endthumbnail %}
    {% endfor %}
</div>

{% endblock %}
</body>
</html>
